head{
    width: 940px;
    font-size: 100%;
    background: transparent;
}

main{
    background: #F3F5FC;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contenedor{
    text-align: right;
    font-size: 1em;
    margin: 0 auto;
}

.imgLogo{
    position: absolute;
    left: 40px;
    right: 0%;
    top: 50px;
    bottom: 0%;
    background: #FFFFFF;
  }

    
